feram-0.26.04/
feram-0.26.04.tar.xz
tags
bin/
lib/
lib64
share/man
pyvenv.cfg
include/
__pycache__/
no_need/
test/
test.py
send/
howto_pythonvenv.txt

!src/lib/
.feram
.log
.gp
.avg
.dipoRavg
test_ece/
